{% extends "index.html" %}

{% block sayfa_baslik %}
Rehber Site - Duyurular
{% endblock %}

{% block icerik_baslik %}
 Rehber Otomasyonu Duyuru Listeleme Sayfasındasınız <br>

{% endblock %}


{% block icerik %}


    <div class="alert alert-success" role="alert">

    Sistemde Kayıtlı Bulunan Toplam Duyuru Sayısı : {{duyurular.__len__()}} <br>
    </div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Duyuru Başlığı</th>
      <th scope="col">Duyuruyu Yapan</th>
      <th scope="col">Duyuru Tarihi</th>
        <th scope="col">Duyuru Bağlantısı</th>


    </tr>
  </thead>
  <tbody>
  {% for duyuru in duyurular %}
    <tr>
      <th scope="row">{{ duyuru.duyuru_id}}</th>
      <td>{{ duyuru.duyuru_basligi }}</td>

              <td>{{ duyuru.duyuru_yonetici.yonetici_adi_soyadi}}</td>
      <th>{{ duyuru.duyuru_tarihi}}</th>
        <th><a  href="/duyuru_goruntuleme/{{ duyuru.duyuru_id}}">Duyuru Görüntüle</a></th>
    </tr>
    {% endfor %}
    </table>

{% endblock %}


